{% extends 'base.html' %} {% load static %} {% block styling %}
<link rel="stylesheet" href="{% static 'webapp/style/application.css' %}" />
{% endblock styling %} {% block content %}
<section class="main">
  <section class="application">
    <div class="application-details" style="height: 550px">
      <table class="table-1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Ref No.</th>
            <th>Application Type</th>
            <th>Date of Application</th>
            <th>Remarks</th>
            <th>Mode of collection</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th>Acknowlegement</th>
            <th>Appointment/ Courier Services</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>1 YYYY9999-9999</td>
            <td>Replacement - Lost card</td>
            <td>29 Nov 2020</td>
            <td>
              User: Kindly expedite <br />LO: - <br />Ops: - <br />A&F: No
            </td>
            <td>Selfcollec</td>
            <td>Stage 2/5: Pending LO/O ps verification</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>
              <!-- DDMMYYYY -->
              <a href=""><button class="btn-1">View</button></a>
              <a href=""><button class="btn-2">Delete</button></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="showmore">
        <a href="" class="btn-3"><button type="button">Show More</button></a>
      </div>
      <table class="table-2">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Ref No.</th>
            <th>Application Type</th>
            <th>Date of Application</th>
            <th>Remarks</th>
            <th>Mode of collection</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th>Acknowlegement</th>
            <th>Appointment/ Courier Services</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02</td>
            <td>1 YYYY9999-9999</td>
            <td>Replacement - Lost card</td>
            <td>29 Nov 2020</td>
            <td>
              User: Kindly expedite <br />LO: - <br />Ops: - <br />A&F: No
            </td>
            <td>Selfcollec</td>
            <td>Stage 2/5: Pending LO/O ps verification</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>
              <!-- DDMMYYYY -->
              <a href=""><button class="btn-1">View</button></a>
              <a href=""><button class="btn-2">Delete</button></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="showmore">
        <a href="" class="btn-3"><button type="button">Show More</button></a>
      </div>
      <table class="table-2">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Ref No.</th>
            <th>Application Type</th>
            <th>Date of Application</th>
            <th>Remarks</th>
            <th>Mode of collection</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th>Acknowlegement</th>
            <th>Appointment/ Courier Services</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>03</td>
            <td>1 YYYY9999-9999</td>
            <td>Replacement - Lost card</td>
            <td>29 Nov 2020</td>
            <td>
              User: Kindly expedite <br />LO: - <br />Ops: - <br />A&F: No
            </td>
            <td>Selfcollec</td>
            <td>Stage 2/5: Pending LO/O ps verification</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>
              <!-- DDMMYYYY -->
              <a href=""><button class="btn-1">View</button></a>
              <a href=""><button class="btn-2">Delete</button></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="showmore">
        <a href="" class="btn-3"><button type="button">Show More</button></a>
      </div>
      <table class="table-2">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Ref No.</th>
            <th>Application Type</th>
            <th>Date of Application</th>
            <th>Remarks</th>
            <th>Mode of collection</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th>Acknowlegement</th>
            <th>Appointment/ Courier Services</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>04</td>
            <td>1 YYYY9999-9999</td>
            <td>Replacement - Lost card</td>
            <td>29 Nov 2020</td>
            <td>
              User: Kindly expedite <br />LO: - <br />Ops: - <br />A&F: No
            </td>
            <td>Selfcollec</td>
            <td>Stage 2/5: Pending LO/O ps verification</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>User - Sgt 3 Batman Bin Suparman</td>
            <td>
              <!-- DDMMYYYY -->
              <a href=""><button class="btn-1">View</button></a>
              <a href=""><button class="btn-2">Delete</button></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="showmore">
        <a href="" class="btn-3"><button type="button">Show More</button></a>
      </div>
    </div>
  </section>
</section>
{% endblock content %} {% block script %} {% endblock script %}
